/* top nav*/
.topnav {
  text-align: center;
  position: sticky;
  background-color: aliceblue;
  top: 2px;
  z-index: 999;
  display: grid;
  grid-template-columns: repeat(9, auto);
}

.topnav a {
  color: black;
  text-align: center;
  padding: 20px;
  ;
  text-decoration: none;
}

.topnav a:hover {
  color: red;
}

button {
  background-color: crimson;
  padding: 20px;
  margin: 10px;
}

/*images*/
#heroimg {
  background-color: #368367c4;
  color: white
}

.domain {
  background-image: url("../img/bg-domain.png");
  color: black;
}

#bottomimg {
  background-color: #368367c4;
  color: white
}

.button1 {
  position: fixed;
  z-index: 999;
  bottom: 0;
  right: 0;
}

.greenhost {
  display: grid;
  grid-template-columns: repeat(3, auto);
}

/*center the texts*/
.center {
  text-align: center;
}

.plan {
  display: flex;
  flex-direction: row;
  justify-content: space-between
}

.planone {
  border: 2px solid green;
}

/*2nd half*/
.server {
 display: flex;
 flex-direction: row;
 justify-content: space-between;
}

.shared {
  display: grid;
  grid-template-columns: repeat(2,auto);
  justify-content:space-evenly;
}

.clients {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.client {
  border: 2px solid black;
  margin: 20px;
  padding: 10px;
}

.team {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.teams {
  border: 2px solid grey;
  margin: 20px;
  padding: 10px;
}

.icons {
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-content: space-evenly;
}

img {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-column: 30px;
  justify-content: center;
  border-radius: 50%;
}

.news {
  display: flex;
  flex-direction: row;
  margin: 10px;
}

input[type=text] {
  width: 70%;
  padding: 12px 20px;
  margin: 8px 0;
  text-align: center;
}

input textarea {
  width: 50%;
  padding: 10px;
  border: 1px solid #ccc;
  resize: vertical;
}

.sub {
  text-align: left;
}

.endpage {
 display: flex;
 flex-direction: row;
 justify-content: center;
}

.signup {
  padding: 10px;
}

